@{
    ViewBag.Title = "Layout Using Sections";
}

<h1>Layout Using Sections</h1>
<div>
    Main content here
</div>

@section PageNavigation
{
    <div>Navigation defined from the view</div>
    <ul>
        <li>Nav1</li>
        <li>Nav2</li>
    </ul>
}
